* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.uplugin text eol=lf
*.Build.cs text eol=lf
*.Target.cs text eol=lf
*.uasset binary
*.umap binary
*.fbx binary
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.avi binary
*.zip binary
*.dll binary
*.exe binary
